ytml, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    outline: none !important;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

/* fonts */
@font-face {
    font-family: hans-medium;
    src: url("../fonts/SourceHanSerif-Medium.otf");
}

@font-face {
    font-family: hans-semibold;
    src: url("../fonts/sourcehanserif-SemiBold.otf");
}

@font-face {
    font-family: hans-bold;
    src: url("../fonts/sourcehanserif-Bold.otf");
}

/*@font-face {*/
/*font-family: hans-bold;*/
/*src: url("../fonts/SourceHanSerif-Bold.otf");*/
/*}*/

/*@font-face {*/
/*font-family: hans-extralight;*/
/*src: url("../fonts/SourceHanSerif-ExtraLight.otf");*/
/*}*/

/*@font-face {*/
/*font-family: hans-heavy;*/
/*src: url("../fonts/SourceHanSerif-Heavy.otf");*/
/*}*/

/*@font-face {*/
/*font-family: hans-light;*/
/*src: url("../fonts/SourceHanSerif-Light.otf");*/
/*}*/

/*@font-face {*/
/*font-family: hans-regular;*/
/*src: url("../fonts/SourceHanSerif-Regular.otf");*/
/*}*/

/* index page */

.page {
    padding: 3% 7% 2% 7%;
    min-height: 100vh;
    width: 100%;
    background: #DDD;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
}

.title-left {
    display: inline-block;
    width: 15%;
    text-align: justify;
    text-justify: inter-character;
    text-align-last: justify;
    /*vertical-align: middle;*/
}

.title-left .japanese {
    font-family: hans-medium;
    font-size: 2.5vw;
}

.title-left .english {
    font-size: 1.9vw;
}

.vl {
    display: inline-block;
    border-left: 1.5px solid #000;
    height: 5vw;
    margin: 0 4.5% 0 4%;
}

.title-right {
    font-family: hans-semibold;
    display: inline-block;
    /*vertical-align: middle;*/
    width: 75%;
    font-size: 0.8vw;
    line-height: 1.7;
    font-weight: bold;
    white-space: pre-line;
}

.page .main-hr {
    margin: 3% 0 5% 0;
    width: 100%;
    border-top: 2px dashed;
}

.page .sub-hr {
    margin: 4% auto;
    width: 96%;
    border-top: 1px dashed rgba(0, 0, 0, 0.4);
}

.works {
    margin: 0 auto;
}

.category-name {
    display: inline-block;
}

.category-name img {
    display: inline-block;
    width: 5%;
    vertical-align: middle;
}

.category-name span {
    display: inline-block;
    font-family: hans-semibold;
    font-size: 1.6vw;
    vertical-align: middle;
    transform: translateX(5%);
}

.category-link {
    display: inline-block;
    float: right;
    transform: translateX(10%);
}

.category-link img {
    display: inline-block;
    width: 12%;
    vertical-align: middle;
}

.category-link span {
    display: inline-block;
    font-family: hans-semibold;
    font-size: 1.6vw;
    vertical-align: middle;
    margin-left: 5%;
}

.work-list {
    margin: 4% 0;
}

.work-list:first-child {
    margin-top: 0;
}

.work-list:last-child {
    margin-bottom: 0;
}

.work {
    width: 24%;
    margin: 0 1.3%;
}

.work:first-child {
    margin-left: 0;
}

.work {
    margin-right: 0;
}

.work-img {
    padding: 5% 0;
    background: #FFF;
}

.work-name {
    font-family: hans-medium;
    text-align: center;
    font-size: 1.4vw;
    margin-top: 6%;
}

.work-list img {
    width: 100%;
}

/* demonstration page */
.page-0 {
    width: 100vw;
    height: 100vh;
    background: #555;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}

.page-0 img {
    width: 100%;
}

.page-1 {
    width: 100vw;
    height: 100vh;
    background: #555;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}

.info {
    text-align: center;
    z-index: 10;
    margin: 0 auto 1%;
    max-width: 80%;
}

.name {
    display: inline-block;
    font-family: hans-bold;
    font-size: 4vh;
    vertical-align: middle;
    margin-right: 1%;
}

.intro {
    display: inline-block;
    font-family: hans-bold;
    font-size: 2vh;
    vertical-align: middle;
    margin-left: 1%;
    max-width: 72%;
    text-align: left;
}

.home {
    position: absolute;
    top: 38vh;
    right: 4vw;
    z-index: 10;
}

.home img {
    height: 7vh;

}

.slider {
    margin: 0 auto;
}

.depict-wrapper {
    width: 80%;
    margin: auto;
}

.depict {
    position: relative;
    overflow: hidden;
    border: 6px solid white;
}

img.depict-image {
    width: 70%;
    padding: 1%;
    border-right: 5px solid white;
    display: inline-block;
}

.depict-text img {
    width: 100%;
    margin: 0 auto;
    transform: scale(1.2);
}

.depict-text {
    font-family: hans-semibold;
}

.depict-text {
    background: rgba(255, 255, 255, 0.0);
    float: right;
    width: 30%;
    height: 56vh;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    white-space: pre-line;
}

.depict-scroll .depict-placeholder {
    width: 25%;
    display: inline-block;
}

.thumbnails-list {
    width: 100%;
    margin: 4vh auto auto;
    background: white;
}

.thumbnails-list img {
    width: 90%;
    margin: 7% auto 5%;
}

.thumbnails-list .slick-center {
    /*border: 1px solid;*/
}

.slick-current .thumbnail img
{
    border: 3px solid rgba(0, 0, 0, 0.5);
}

.page-2 {
    width: 100vw;
    height: 100vh;
    background: #555;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}

.page-2 video {
    display: block;
    width: 70vw;
    margin: auto;
}

.slick-list {
    height: 100%;
}





/* categories */
#cat-1 .info
{
    max-width: 80%;
    height: 8vh;
}
#cat-1 .intro
{
    text-align: left;
    width: 82%;
}
/*#cat-1 img.depict-image {*/
    /*width: 100%;*/
    /*border-right: 5px solid white;*/
    /*display: inline-block;*/
/*}*/

/*#cat-1 .depict-text img {*/
    /*margin: 0 auto;*/
/*}*/

/*#cat-1 .depict-wrapper {*/
    /*width: 57%;*/
    /*margin: auto;*/
/*}*/

/*#cat-1 .depict {*/
    /*border: 8px solid white;*/
    /*padding: 1%;*/
/*}*/
#cat-1 .depict-text {
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 0;*/
    /*width: 50%;*/
    /*height: 100%;*/
    /*background: rgba(255, 255, 255, 0.2);*/
    font-size: 1.5vw;
}
#cat-1 .thumbnails-list {
    width: 100%;
    margin-top: 1vh;
    background: white;
}
#cat-1 .thumbnails-list
{
    height: 22vh;
}

#cat-1 .thumbnails-list img {
    width: 85%;
    margin: 7% auto 1%;
}



#cat-3 .info
{
    max-width: 80%;
    height: 8vh;
}
#cat-3 .intro
{
    text-align: left;
    width: 72%;
}
/*#cat-3 img.depict-image {*/
    /*width: 100%;*/
    /*border-right: 5px solid white;*/
    /*display: inline-block;*/
/*}*/

/*#cat-3 .depict-text img {*/
    /*margin: 0 auto;*/
/*}*/

/*#cat-3 .depict-wrapper {*/
    /*width: 57%;*/
    /*margin: auto;*/
/*}*/

/*#cat-3 .depict {*/
    /*border: 8px solid white;*/
    /*padding: 1%;*/
/*}*/
#cat-3 .depict-text {
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 0;*/
    /*width: 50%;*/
    /*height: 100%;*/
    /*background: rgba(255, 255, 255, 0.2);*/
    font-size: 1.5vw;
}
#cat-3 .thumbnails-list {
    width: 100%;
    margin-top: 3vh;
    background: white;
}
#cat-3 .thumbnails-list
{
    height: 22vh;
}

#cat-3 .thumbnails-list img {
    width: 92%;
    margin: 5% auto 1%;
}
