html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.page-1{
    width: 100vw;
    height: 100vh;
    background: #555;
    /*background: url("../images/bg.jpg") no-repeat;*/
    background-size: cover;
    padding-top: 7vh;
    overflow: hidden;
}

.name {
    position: absolute;
    writing-mode: vertical-lr;
    font-size: 5vh;
    top: 10vh;
    left: 10vh;
}

.home {
    position: absolute;
    top: 35vh;
    right: 10vh;
}
.home img
{
    height: 10vh;

}

.slider {
    width: 80%;
    margin: 0 auto;
}

.depicts-list
{
    /*height: 66vh;*/
}


.depict-wrapper
{
    width: 80%;
    margin: auto;
}

.depict
{
    position: relative;
    overflow: hidden;
}

.depict:hover .depict-text
{
    left: 50%;
}

img.depict-image
{
    width: 100%;
    display: inline-block;
}

.depict-text
{
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 50%;
    font-size: 1.3vw;
    padding: 4%;
    transition: left 500ms ease-out;
    background: rgba(255, 255, 255, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    white-space: pre-line;
}

.depict-scroll .depict-placeholder
{
    width: 25%;
    display: inline-block;
}

.thumbnails-list
{
    margin-top: 4vh;
    background: rgba(219, 210, 193, 0.5);
}

.thumbnails-list img {
    width: 90%;
    margin: 7% auto;
}

.slick-list
{
    height: 100%;
}
